html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html, body {
    display: flex;
}

.forms {
    margin: auto;
}

#advanced_search_submit {
    background-color: blue;
    text-emphasis-color: white;
}